{% extends 'main.html' %}

{% block content %}
<section class="catalogtable">
	<section class="catalogsection">
		<h2 class="catalogtitle">Categories</h2>
		<ul class="cataloglist">
			{% for i in categories %}
			{% if i.id == selected_category %}
			<li class="cataloglistitem active">
				{% else %}
			<li class="cataloglistitem">
				{% endif %}
				<a href="{{ url_for('item_list', cat_id = i.id)}}" class="cataloglistlink">{{ i.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section class="catalogsection">
		<h3 class="catalogtitle">Items</h3>
		<ul class="cataloglist">
			{% for i in items %}
			<li class="cataloglistitem">
				<a href="{{ url_for('preview_item', cat_id = i.cat_id, item_id = i.id)}}" class="cataloglistlink">{{ i.name }}</a>
			</li>
			{% endfor %}
		</ul>
		{% if 'username' in session %}
		<div class="catalogbuttoncontainer">
			<a href="{{ url_for('create_item') }}" class="button">Add Item</a>
		</div>
		{% endif %}
	</section>
</section>

{% endblock %}