{% extends 'main.html' %}
{% block content %}
<section class="catalogtable catalogtable-item">
	<h1 class="catalogtitle">{{ item.name }}</h1>
	<p class="catalogtext">{{ item.description }}</p>
	{% if 'username' in session %}
		<div class="catalogbuttoncontainer">
			<a href="{{ url_for('edit_item', cat_id=item.cat_id, item_id=item.id) }}" class="button">Edit</a>
			<a href="{{ url_for('del_item', cat_id=item.cat_id, item_id=item.id) }}" class="button">Delete</a>
		</div>
	{% endif %}
	<a href="{{ url_for('catalog')}}" class="link">Cancel</a>
</section>
{% endblock %}